body{
background-color:rgb(236, 191, 236);
color:rgb(12, 11, 11)   
}
    
.div,img{
padding-top: 1px;
width:80px;
border:0px solid black;
margin:0px;
text-align: center; 
margin-top:20px;
}

.texto0,a{
margin:30px;
justify-content: space-between; 
}
    
.texto{
text-align: center;     
}
    
.texto2{
text-align: center;  
}
        
.texto3{
text-align: center;    
}
.img_rod {
width:20px
}
    
.footer{
position:absolute;
bottom:10px;  
width:100
}

.supertexto{
font: normal 13px Arial, Verdana serif;  
display:flex;
align-items: center;
}

header{
justify-content: space-between;
margin:20px;
display:flex;
}

.divi,ol,p{
text-align: center;
}

