.header,h1{
 border:1px solid rgb(241, 116, 168);
 color:rgb(15, 14, 14);
 background-color: rgb(245, 82, 150);
 display:grid;

 }


 .btn{
padding:10px 20px;
width: 500px;
color: black;
background-color:rgb(236, 78, 141);
border:1px solid rgb(252, 243, 251);
user-select: none;
cursor:pointer;

}

#conianer,div{
display:grid;
grid-row: 1/2;
grid-column: 2/ span 1;
justify-content: space-between;
}

.textolegal{
display: flex ;
align-items: center;
justify-content: space-around;
}